# AutoRide Backend Environment Variables
PORT=8000

# Neon Serverless PostgreSQL Database Connection String Example:
# Replace with your actual connection string from https://console.neon.tech
DATABASE_URL=postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-sample-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

SUPERADMIN_USERNAME=sudarshan
SUPERADMIN_PASSWORD=Qweasdzx@1#
